* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background: blue;
    overflow: hidden;
}

ul li {
    list-style: none;
}

.wrap {
    width: 95%;
    height: 97%;
    padding: 10px 10px;
    margin: 10px 10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 13px;
}

.top {
    display: flex;
    align-items: center;
    .iconfont {
        font-size: 22px;
        margin-right: 15px;
    }
}

.active {
    border: 1px solid red;
}

.bottom {
    margin-top: 10px;
    ul li {
        // border: 1px solid #ccc;
        padding: 10px 10px;
        margin-bottom: 15px;
        h4 {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #ccc;
            width: 100%;
            height: 35px;
            line-height: 35px;
            b {
                margin-right: 40px;
                color: red;
            }
        }
        h5 {
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
            span {
                color: #ccc;
                b {
                    color: #000;
                    font-size: 15px;
                    font-weight: normal;
                }
            }
            i {
                margin-right: 80px;
                font-style: normal;
                color: #ccc;
                b {
                    color: #000;
                    font-size: 15px;
                    font-weight: normal;
                }
            }
        }
    }
}

.bot {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    h4 {
        b {
            color: red;
        }
    }
    h5 {
        color: #ccc;
    }
    button {
        background: red;
        color: #fff;
        font-size: 14px;
        width: 100px;
        height: 40px;
        border: none;
    }
}